* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
  
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  --color-primary: #130F26; 
  --color-secondary: #DDF4F1;
  --color-accent: #cf4f00;
}
  
  /* Typography & Scrollbar */
html {
  font-size: 62.5%;

  /* Avoids content shift with scrollbar. */
  overflow-x: hidden;
  margin-right: calc(-1 * (100vw - 100%));
}
  
body {
  font-size: 1.8rem;
  line-height: 1.2;
  background-color: var(--color-accent);
}
  
li {
  font-family: monospace;
}

h1 {
  font-size: 5.2rem;
  font-family: monospace;
}
  
h2 {
  font-size: 3.2rem;
}
  
h3 {
  font-size: 2.2rem;
}

h4 {
  margin-left: 1%;
  font-size: 2.2rem;
  margin-bottom: 5px;
  color:darkblue;
  text-shadow: 0 0 3px azure;
}


#signup-area {
  margin: 2%;
}

#login-area{
  margin: 2%;
}

#username-input {
  height: 75%;
  margin: 1%;
  margin-left: 2%;
  font-family: monospace;
}

#email-input {
  height: 75%;
  margin: 1%;
  margin-left: 2%;
  font-family: monospace;
}

#password-input {
  height: 75%;
  margin: 1%;
  margin-left: 2%;
  font-family: monospace;
}

#signup-form {
  display: grid;
  width: 50%;
  font-family: monospace;
}

#signup-submit {
  margin: 1%;
  width: 25%;
  height: 75%;
  background-color:darkblue;
  border: azure;
  border-style: solid;
  color: azure;
  font-family: monospace;
  border-radius: 5px;
}

#login-submit {
  margin: 1%;
  width: 25%;
  height: 75%;
  background-color:darkblue;
  border: azure;
  border-style: solid;
  color: azure;
  font-family: monospace;
  border-radius: 5px;
}

#login-form {
  display: grid;
  width: 50%;
}

#backdrop {
  background-color: #130F26;
  height: 50%;
  width: 50%;
}